{% extends 'base.jinja' %}

{% block content %}

  <h1>Thanks for completing this survey!</h1>

  <ul>
  {% for question, answer in questions_and_answers.items() %}
  <li>
    <b>{{ question }} </b> {{ answer }}
  </li>
  {% endfor %}
  </ul>

{% endblock %}